{% extends 'Base.html' %}


{% load static %}
{% block title %} Home {% endblock title %}

{% block body_block %}

{% comment %} <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav> {% endcomment %}
<div class="container" style="display: flex;">
<div class="welcome-section mt-4">
<p>Welcome, to <span class="highlight"> Balanced_Me </span><br> Women need balance between work and life</p>


<h3>This platform will help women organize their work based on importance and urgency. Moreover, there will be checklist to remind women of taking care of themselves.</h3>
</div>
<img src="//s3.amazonaws.com/appforest_uf/f1631371091485x803765422794940000/Screen%20Shot%202021-09-11%20at%2010.37.40%20AM.png" style="width: 23rem;
margin: 2rem;" alt="">
</div>
<div class="inspiration" >
  <h1>Inspirational Stories</h1>
  <div class="inp" style="display: flex;">
    <div class="con1">
      <h2>Ada Lovelace</h1>
      <h3>The Founder of Scientific Computing and The First Computer Programmer
      </h3>
      <p>First known as the daughter of famed poet Lord Byron, she made her own name by becoming the founder of scientific computing and the first computer programmer. Her algorithm—which history has come to know as the first one designed for a machine to carry out—was intended to be used for Charles Babbage’s Analytical Engine, but Lovelace passed away before the machine was completed. Since her death in 1852, Lovelace’s previously little-known work and approach to science that experts have called "poetical" has broken through to inspire present-day young women interested in computer programming. 

      </p>
    </div>
    <div class="con1">
      <h2>Elizabeth Blackwell</h1>
      <h3>The First Woman Receives A Medical Degree in The United States
      </h3>
      <p>Inspired by the case of her terminally ill friend who wished for a female physician to tend to her, Blackwell made history as the first woman to receive a medical degree in the United States, and the first woman on the Medical Register of the General Medical Council. Born in England but raised in America, Blackwell pushed for social awareness and moral reforms in both countries as she pioneered promoting education for women in medicine. After graduating from medical school, she opened her own practice, and soon opened an infirmary for women and children. She went on to establish the U.S. Sanitary Commission of 1861 under President Lincoln, to encourage sanitary conditions and health in war, and started a medical school for women in the late 1860s. She died in 1910 at 89.

      </p>
    </div>
    <div class="con1">
      <h2>Grace Hopper</h1>
      <h3>Queen of Code
      </h3>
      <p>Best known as the “Queen of Code,” Rear Admiral Hopper was at the forefront of computer and programming language development from her start in the 1930s until she retired from the Navy in 1986—as the oldest serving officer at the time. During World War II, she helped build “Mark I,” one of the world’s earliest computers. After the war, she led the development of computer languages written in English, rather than mathematical notation. Her most known achievement was COBOL, the common business computing language which is still in use today.


      </p>
    </div>

  </div>
</div>
<div class="motivational" style="display: flex; align-items:center; justify-content:center;">
  <img src="//s3.amazonaws.com/appforest_uf/f1631381443504x594027899064591400/Screen%20Shot%202021-09-11%20at%201.30.30%20PM.png" style="width: 55rem;" alt="">
</div>
</div>
{% endblock %}