{% extends 'Base.html' %}


{% load static %}
{% block title %} Personal Life {% endblock title %}

{% block body_block %}

<h2 style="margin: 2rem;
font-size: 3rem;
color: #7f23c0;">Let's review your day with your checklist</h2>

<div class="mainboxpersonal" style="display: flex;">
    
    <img src="//s3.amazonaws.com/appforest_uf/f1631372743340x524847865852574800/Screen%20Shot%202021-09-11%20at%2011.03.19%20AM.png" alt="">
    <img src="//s3.amazonaws.com/appforest_uf/f1631372760012x280439989053148830/Screen%20Shot%202021-09-11%20at%2011.03.50%20AM.png" alt="">
    <img src="//s3.amazonaws.com/appforest_uf/f1631372447001x520240970819565900/Screen%20Shot%202021-09-11%20at%2011.00.36%20AM.png" alt="">
</div>
<div class="checkbox" style="display: flex;


    background-color: #e4be98;
    padding: 1rem 1rem;
    box-shadow: 0 20px 20px rgb(0 0 0 / 20%), 0px 0px 50px rgb(0 0 0 / 20%);
    border-radius: 10px;
    flex-wrap:wrap;

 " >
    <div class="relax" style="    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 31%;
">
        <h1 style="    font-size: 2rem;
        background: #a72c83;
        color: white;
        width: 55%;
        padding: 0 10px;
        border-radius: 11px;
        text-transform: uppercase;">Meditation</h1>
        <input type="checkbox">Did you have a chance to relax today?
        <input type="checkbox">Share your day with beloved ones!
        <input type="checkbox">Enjoy your time with your family!
        <input type="checkbox">Did you enjoy any of your hobbies today?
        <input type="checkbox">Stay on bed and relax!
    
    </div>
    <div class="relax" style="display: flex; flex-direction: column;
     margin: 1rem;
    width: 31%;
    "> <h1 style="    font-size: 2rem;
        background: #a72c83;
        color: white;
        width: 40%;
        padding: 0 10px;
        border-radius: 11px;
        text-transform: uppercase;">Plans</h1>
        <input type="checkbox">Did you have a chance to relax today?
        <input type="checkbox">Share your day with beloved ones!
        <input type="checkbox">Enjoy your time with your family!
        <input type="checkbox">Did you enjoy any of your hobbies today?
        <input type="checkbox">Stay on bed and relax!
    
    </div>
    <div class="relax" style="display: flex; flex-direction: column;
     margin: 1rem;
    width: 31%;">
        <h1 style="    font-size: 2rem;
        background: #a72c83;
        color: white;
        width: 40%;
        padding: 0 10px;
        border-radius: 11px;
        text-transform: uppercase;">Relax</h1>
        <input type="checkbox">Did you have a chance to relax today?
        <input type="checkbox">Share your day with beloved ones!
        <input type="checkbox">Enjoy your time with your family!
        <input type="checkbox">Did you enjoy any of your hobbies today?
        <input type="checkbox">Stay on bed and relax!
    
    </div>
    <div class="relax" style="display: flex; flex-direction: column;
     margin: 1rem;
    width: 31%;">
        <h1 style="    font-size: 2rem;
        background: #a72c83;
        color: white;
        width: 40%;
        padding: 0 10px;
        border-radius: 11px;
        text-transform: uppercase;">skincare</h1>
        <input type="checkbox">Did you have a chance to relax today?
        <input type="checkbox">Share your day with beloved ones!
        <input type="checkbox">Enjoy your time with your family!
        <input type="checkbox">Did you enjoy any of your hobbies today?
        <input type="checkbox">Stay on bed and relax!
    
    </div>
    <div class="relax" style="display: flex; flex-direction: column;
     margin: 1rem;
    width: 31%;">
        <h1 style="    font-size: 2rem;
        background: #a72c83;
        color: white;
        width: 40%;
        padding: 0 10px;
        border-radius: 11px;
        text-transform: uppercase;">workout</h1>
        <input type="checkbox">Did you have a chance to relax today?
        <input type="checkbox">Share your day with beloved ones!
        <input type="checkbox">Enjoy your time with your family!
        <input type="checkbox">Did you enjoy any of your hobbies today?
        <input type="checkbox">Stay on bed and relax!
    
    </div>
    <div class="relax" style="display: flex; flex-direction: column;
     margin: 1rem;
    width: 31%;">
        <h1 style="    font-size: 2rem;
        background: #a72c83;
        color: white;
        width: 40%;
        padding: 0 10px;
        border-radius: 11px;
        text-transform: uppercase;">Diet</h1>
        <input type="checkbox" >Did you have a chance to relax today?
        <input type="checkbox">Share your day with beloved ones!
        <input type="checkbox">Enjoy your time with your family!
        <input type="checkbox">Did you enjoy any of your hobbies today?
        <input type="checkbox">Stay on bed and relax!
    
    </div>
   
</div>

{% endblock body_block %}